<div class="container">
  <%= link_to 'Clear Cart', cart_clear_path %><br><%= link_to "Back", :root %>
  <br><br>
  <div class="row">
    <% if @cart.blank? %>
      <h1>Your Shopping Cart Is Empty..</h1>
    <% end %>
    <div class="col-xs-6>


      <% @cart.each do | id, quantity | %>
      <% product = Product.find_by_id(id) %>

      <ul class="list-inline">
        <li><%= link_to product.name, product %></li>
        <li><%= product.description %></li>
        <li><%= product.price %></li>
        <li>Quantity: <%= quantity %></li>
        <%= link_to 'destroy', cart_path(id),
                                 :method => :delete,
                                 :data => { :confirm => 'Are you sure?'},
                                 :class => 'btn btn-xs btn-danger' %>
      <% end %>
    </div>
  </div>
</div>
