<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1>Shopping Cart</h1>
      <ul class="list-group">
        <% @cart.line_items.each do | item | %>
          <li class="list-group-item">
            <strong><%= item.product.name %></strong>
            Quantity: x<%= item.quantity %>, Total:
            <%= number_to_currency(item.full_price.to_f/100.0) %>
              <%= link_to 'Remove', line_item_path(:id => item.product.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
          <li class="list-group-item">Price:
            <%= number_to_currency(item.product.price.to_f/100.0) %></li>
        <% end %>
        <li class="list-group-item">
          <h3>Shopping Cart Total:
            <%= number_to_currency(@cart.price.to_f/100.0) %>
              <%= render 'payola/transactions/checkout', sellable: @cart %>
          </h3>
        </li>
      </ul>
    </div>
  </div>
</div>
