<div class="container">
  <% @products.each_slice(4) do |item| %>
   <div class="row">
     <% item.each do |product| %>
       <div class="col-xs-3">
          <ul clas="list-group">
            <li class="list-group-item"><strong><%= product.name %></strong></li>
            <li class="list-group-item"><%= attachment_image_tag(product, :file, :fit, 100, 300, fallback: "crazy_cage.jpg") %></li>
            <li class="list-group-item"><strong>Price: $<%= product.price %></strong></li>
            <li class="list-group-item"><%= button_to "Add To Cart", line_items_path(:product_id => product), :class => "btn btn-warning btn-sm"  %>
              <%= button_to "More Info", product_path(product), :class => "btn btn-warning btn-sm" %>
            </li>
          </ul>
        </div>
     <% end %>
   </div>
  <%end %>
</div>
<%=  %>
