<div class="container">
  <% @products.each_slice(4) do |item| %>
   <div class="row">
     <% item.each do |product| %>
       <div class="col-xs-3">
          <ul clas="list-inline">
            <li><%= product.name %></li>
            <li><%= image_tag attachment_url(@product, :file, :fill, 300, 300, fallback: "crazy_cage.jpg") %></li>
            <li><%= product.description %></li>
            <li><%= product.price %></li>
            <li><%= button_to "Add To Cart", line_items_path(:product_id => product)  %></li>
          </ul>
        </div>
     <% end %>
   </div>
  <%end %>
</div>
<%=  %>
