<div class="container">
  <% @products.each_slice(4) do |product| %>
   <div class="row">
     <% product.each do |item| %>
       <div class="col-xs-3">
           <%= item.name %>
           <%= item.description %>
           <%= item.price %>
           <%= render 'payola/transactions/checkout', sellable: item %>

       </div>
     <% end %>
   </div>
  <%end %>
</div>

<%= link_to 'New Product', new_product_path %>
